.content {
    padding: 7rem 0
}

.half, .half .container > .row {
    height: 100vh
}

@media (max-width: 991.98px) {
    .half {
        height: 500px
    }
}

@media (max-width: 991.98px) {
    .bg {
        display: none
    }
}

.half .bg, .half .contents {
    width: 50%
}

@media (max-width: 1199.98px) {
    .half .bg, .half .contents {
        width: 100%
    }
}

.half .bg .form-group, .half .contents .form-group {
    margin-bottom: 0;
    border: 1px solid #efefef;
    padding: 15px 15px;
}

.half .bg .form-control, .half .contents .form-control {
    border: none;
    padding: 0;
    font-size: 20px;
    border-radius: 0
}

.half .bg .form-control:active, .half .bg .form-control:focus, .half .contents {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.half {
    background-size: cover;
    background-position: center
}

.half .btn {
    height: 54px;
    padding-left: 30px;
    padding-right: 30px
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0
}
